@media (max-width: 1050px)
	.footer .footer__inner
		flex-wrap: wrap
		justify-content: space-around
@media (max-width: 810px)
	.header .filter-bottom__body
		flex-wrap: wrap
	.header .filter-bottom__body div label
		margin-top: 30px
	.policy-pocket
		padding-bottom: 66px
	.policy-pocket__inner
		flex-wrap: wrap
	.policy-pocket .policy-pocket__text
		margin-bottom: 30px
		margin-left: 0
	.policy-pocket .policy-pocket__img
		margin-right: 0
	.header .filter .filter__calculate-number
		flex-direction: column-reverse
		align-items: center
	.filter__calculate-number__box-right
		margin-bottom: 20px
		width: 100%
	.header .filter .filter__calculate-number__box-left
		margin-right: 0
		width: 100%
	.header .filter .filter__calculate-number__box-right .box-right__input
		max-width: none
	.header .filter .filter__calculate-number__box-left .box-left__input	
		max-width: none	
@media (max-width: 768px)
	.header-title .change-selection
		display: none
	.policy-selection__filter
		display: none
	.selected-parameters
		flex-wrap: wrap
		justify-content: space-around
@media (max-width: 576px)
	.header-top
		margin-bottom: 0
	.lang
		display: none
	.menu-link
		display: block
	.header-top .nav
		width: 100%	
		text-align: center
		z-index: 10
	.nav__list
		position: absolute
		top: 40px
		left: 50%
		transform: translateX(-50%)
		width: 100%
		background: $white
		padding: 10px 0
		display: none
	.header-top .nav__list .nav__item
		display: block
		margin-right: 0
	.header-top .nav__list .nav__link
		padding: 10px 0
	.title
		font-weight: 600
		font-size: 28px
		line-height: 33px
		margin-bottom: 15px
	.subtitle
		font-size: 14px
	.policy-pocket .policy-pocket__text .policy-pocket__title
		font-weight: 600
		font-size: 28px
		line-height: 33px
		margin-bottom: 5px
	.policy-pocket .policy-pocket__text .policy-pocket__description
		font-size: 14px
	.footer .footer__inner
		text-align: center
	.modal-overlay .modal__wrap .modal
		padding: 75px 15px 55px
		max-width: 85%
	.modal-overlay .modal__wrap .modal__title
		font-size: 20px
	.box-left__inner
		display: flex
		flex-direction: column
	.header .filter .filter__calculate-number__box-right .box-right__inner
		padding-left: 0
	.header .filter .filter__calculate-number__box-right .box-right__inner .box-right__link
		display: inline-block
		margin-bottom: 5px
	.header .filter .filter__calculate-number__box-left .box-left__inner .box-left__btn
		margin-right: 0
		margin-bottom: 20px
	.faq__inner
		padding: 30px 15px
	.osago-description .osago-description__text
		padding: 30px 15px	
	.header .filter .filter-body
		padding: 30px 15px
	.header .filter .filter__calculate-number
		padding: 30px 15px
	.header .filter-bottom__header
		padding-left: 15px
	.header .filter-bottom__body-input__wrap
		margin-right: 0
	.header .filter-bottom__body
		padding: 30px 15px
	.policy-pocket
		padding-top: 30px
		padding-bottom: 30px
	.decor-frorm__row-8
		flex-direction: column-reverse
	.decor-frorm__row-8>div
		margin-bottom: 20px
	.decor-frorm__row-8 .decor-frorm__row-8__btn
		margin-right: 0
	.decor-frorm__row-1 .decor-frorm__row-1__input-wrap
		margin-right: 0
		max-width: none
	.decor-frorm__row-1 .decor-frorm__row-1__input-wrap input
		max-width: none
	.decor-frorm__row-2__inner input
		max-width: none
		margin-right: 0
	.decor-frorm__row-4__inner input
		max-width: none !important
		margin-right: 0
	.public-offer
		padding-left: 15px
		padding-right: 15px
	.payment-form__button-wrap
		display: flex
		flex-direction: column
		align-items: center
	.payment-form .payment-form__button-wrap .payment-form__button-title
		margin-right: 0
		margin-bottom: 20px

@media (max-width: 450px)
	.header .filter-bottom__header label
		margin-right: 0
	.header .filter .filter-top
		padding: 30px 15px
	.header .filter .filter-top div
		margin-bottom: 15px
		&:last-child
			margin-bottom: 0
	.header .filter .filter-top div label
		margin-right: 0
	.header .filter-bottom__footer
		flex-wrap: wrap
	.header .filter-bottom__footer div
		margin-top: 15px
	.faq__inner .faq__tabs .faq__tab
		padding: 10px 65px 10px 10px
	.header .filter-bottom__header-title
		margin-right: 35px
	.policy-selection__item
		flex-direction: column
	.decor-frorm__row-6 .decor-frorm__row__title
		display: flex
		flex-direction: column
		align-items: center
		margin-bottom: 0
		span
			margin: 3px 0 !important
	.decor-frorm__row-5__inner .decor-frorm__row-5__input-wrap
		width: 100%
		margin-right: 0
	.decor-frorm__row-5__inner .decor-frorm__row-5__input-wrap input
		max-width: none !important
	.payment-form
		padding-left: 15px
		padding-right: 15px
	.payment-form__inner .payment-form__input-wrap .payment-form__validity:last-child
		margin-right: 30px
@media (max-width: 400px)
	.header .filter .filter-body__cards-item
		width: 100%
	.decor-frorm__row-3 .decor-frorm__row-3__inner input
		max-width: none !important
		margin-right: 0
@media (max-width: 350px)
	.payment-form__inner .payment-form__input-wrap:last-child label span
		right: 0


	