.advantages 
	padding-top: 100px
	padding-bottom: 50px
	background: $bg

	&__items 
		display: flex
		align-items: center
		justify-content: space-around
		flex-wrap: wrap

	.advantages__item 
		display: flex
		align-items: center
		margin-bottom: 30px
		max-width: 270px

		&-img
			width: 70px
			height: 67px
			margin-right: 15px

		&-text 
			color: #5c5c5c;
			font-size: 15px
			font-weight: 600
