.footer 
	padding: 40px 0 20px
	border-top: 1px solid #ececec;
	.footer__inner 
		display: flex
		justify-content: space-between

	.footer__copy 
		max-width: 306px
		font-size: 16px
		line-height: 24px
		margin-bottom: 20px
		padding: 0 5px
		p
			margin-bottom: 15px
			&:last-child
				margin-bottom: 0

	.footer__link 
		max-width: 235px
		margin-bottom: 20px
		padding: 0 5px

		.footer__link-title 
			font-size: 16px
			line-height: 16px
			margin-bottom: 20px
		a
			color: $black
			font-size: 16px
			font-weight: 400
			line-height: 16px
			margin-bottom: 10px
			display: inline-block
			&:last-child
				margin-bottom: 0

	.footer__contacts 
		max-width: 200px
		margin-bottom: 20px
		padding: 0 5px
		.footer__contacts-title 
			font-size: 16px
			line-height: 16px
			margin-bottom: 20px
		>a
			color: $black
			font-size: 16px
			line-height: 16px
			margin-bottom: 10px
			display: inline-block
			&:last-child
				margin-bottom: 0

	.footer__payment-systems 
		max-width: 225px
		margin-bottom: 20px
		padding: 0 5px
		.footer__payment-systems__title 
			font-size: 16px
			line-height: 16px
			margin-bottom: 15px

		&__img-wrap 
			display: flex
			justify-content: space-between
			img
				margin-right: 10px
				&:last-child
					margin-right: 0
